.individualGame {
    /* padding: 5px 0; */
    margin: 15px 0;
    /* background-color: rgb(29, 0, 56); */
    /* background-image: linear-gradient( rgba(15, 255, 191, 0.65), rgba(18, 18, 18)); */
    /* win
        background-image: linear-gradient( rgba(15, 255, 191, 0.65), rgba(18, 18, 18));
    */
    
    border: 1px;
    border-color: rgba(29, 0, 56, 0.65);
    border-style: solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.75fr;
    /* grid-template-rows: 0.5fr; */
}

.matchInfo {
    grid-area: 1/1;
    align-self: end;
    padding-bottom: 20px;
}

.champGrid {
    grid-area: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.champ {
    grid-area: 1/1;
    align-self: center;
}

.champ img {
    width: 75px;
    height: 75px;
}

.spellsRunes {
    grid-area: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.summonerSpells {
    grid-area: 1/1;
}

.runes {
    grid-area: 1/2;
}

.runes img {
    background-color: rgba(29, 0, 56);
    border-radius: 50%;
}

.summonerStats {
    grid-area: 1/3;
    align-self: center;
}

.summonerNames {
    /* padding: 0 10px 10px 10px; */
    grid-area: 1/5;
    gap: -10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.summonerNames ul {
    list-style-type: none;
    padding: 0;
}

.summonerNames li {
    font-size: 14px;
}

.summonerNames img {
    width: 20px;
    height: 20px;
}

.summoner {
    margin: 5px 0;
    text-overflow: ellipsis;
    text-align: left;
}

.blueTeamList {
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
}

.redTeamList {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}