.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.individualGame {
    margin: 15px 0;
    /* background-color: rgb(29, 0, 56); */
    border: 1px solid rgba(29, 0, 56, 0.65);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.75fr 1fr 1.75fr;
    gap: 15px;
}

.matchInfo {
    grid-area: 1/1;
    align-self: end;
    padding-bottom: 20px;
}

.champGrid {
    /* background-image: linear-gradient( rgba(255, 48, 48, 0.65), rgba(18, 18, 18)); */
    grid-area: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.champ {
    grid-area: 1/1;
    align-self: center;
    padding-top: 42px;
}

.champ img {
    width: 84px;
    height: 84px;
    border-radius: 10px;
}

.spellsRunes {
    grid-area: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.summonerSpells {
    grid-area: 1/1;
    align-self: center;
}

.summonerSpells img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.runes {
    grid-area: 1/2;
    align-self: center;
}

.runes img {
    width: 40px;
    height: 40px;
    background-color: rgba(29, 0, 56);
    border-radius: 8px;
}

.all-items {
    width: 169px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3px;
}

.items {
    grid-area: 1/1;
    width: 129px;
    height: 83px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
    align-self: center;
}

.items img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

img.item1 {
    grid-area: 1/1;
}

img.item2 {
    grid-area: 1/2;
}

img.item3 {
    grid-area: 1/3;
}

img.item4 {
    grid-area: 2/1;
    padding-top: 1px;
}

img.item5 {
    grid-area: 2/2;
    padding-top: 1px;
}

img.item6 {
    grid-area: 2/3;
    padding-top: 1px;
}

img.trinket {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    grid-area: 1/2;
    align-self: center;
}

.summonerStats {
    grid-area: 1/3;
    align-self: center;
}

.summonerNames {
    padding: 0 10px 10px 15px;
    grid-area: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 250px; */
}

.summonerNames ul {
    list-style-type: none;
    padding: 0;
}

.summonerNames li {
    font-size: 14px;
}

.summonerNames img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.summoner {
    margin: 5px 0;
    text-align: left;
}

.blueTeamList {
    display: flex;
    flex-direction: row;
    width: 130px;
}

.redTeamList {
    display: flex;
    flex-direction: row;
    width: 130px;
}