div {
    font-size: 18px;
}

.big-box {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 5%;
    align-items: start;
}

.cursor-pointer {
    cursor: pointer;
}

.summoners {
    grid-area: 1/1;
    justify-self: end;
}

.matchData {
    grid-area: 1/2;
    max-width: 1000px;
}

.searchBar {
    margin: 0 auto;
    width: 300px;
}
.searchBar input {
    font-size: 20px;
    color: #ffff;
    background-color: #282828;
    border-radius: 10px;
    border-style: solid;
    padding: 5px 0 5px 10px;
}

.searchBar button {
    margin: 0 auto;
    padding: 15px 15px;
    background: url('../static/cursed_flushed.png');
    background-size: cover;
    border: 0px;
}