<!DOCTYPE html>

<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <img src="{{ url_for('static', filename='cursed_flushed.png') }}" align="middle" />
        <section class="header">
            <nav>
                <div class="nav-links">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Accounts</a></li>
                        <li><a href="#">Stats</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
</html>